$background-color: #F5F5F5;
$primary-color: #055C9D;
$light-color: #0E86D4;
$dark-color: #003060;
$text-color: #36454F;

$modal-background: rgba(#36454F, 0.3);

$darkmode-background-color: #003060;
$darkmode-primary-color: #0E86D4;
$darkmode-light-color: #68BBE3;
$darkmode-dark-color: #055C9D;
$darkmode-text-color: #F5F5F5;